<!DOCTYPE html>
<html lang="en">
<style>
/* unvisited link */

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: grey;
}

/* selected link */
a:active {
  color: grey;
}
</style>
<body>

    <center>

    <h1>  PREDICTION :  </h1><br>
    <h3> Predicted Price of house (in 1000 USDs) is {{ data }}</h3>
    <br><br>


    <a href='/'>go back to home page</a>

    </center>

</body>

</html>
